.container{
  margin: 2em;
  

.form-wrapper{
  position: fixed;
  padding-left: 2rem;
  margin-right: 1rem;
  transform: translateY(-35%);
  top: 35%;

}

.card-list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 38vw;

}

}