@import './variables.scss';
@import './signs.scss';
@import './users.scss';

body {
  background: $bg-main;
  color: $text-color;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  text-align: left;
  @include centre-flex;

  h1 {
    padding: 20px;
    font-size: 30px;
  }

  a {
    padding: 10px;
    color: $text-color;
    text-decoration: none;
    font-size: 15px;
    background-color: $bg-card;
    @include round-corners;
    @include shadow;
  }

  img {
    max-width: 50px;
  }

}

.description {
  color: $text-color;
  text-align: center;
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  @include centre-flex
}
