body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  h1{padding-left: 20px;}
  button{margin: 0px 20px}
}

section {
  margin: auto;
}

.nav__button {
  display: flex;
}

.links {
  display: flex;
  justify-content: center;
  p {margin: 200px 40px; padding: 10px;}
}