/* VARIABLE DECLARATIONS */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/*--- Colours ---*/

$bg-light: #c6fd83;
$text-colour: #481825;
$accent-colour: #fdf5e6;


$main-font: 'Abel', sans-serif;
